p{
  color: blue;
}

#ahmad{
  color: green
}

.colorgrey{
  color: brown
}

li{
  display: inline-block;
}

span{
  display: block
   border-style: solid;
}

a{
  text-decoration: none 
}

header{
  height: 90px;
}

h1{
  float: left;
}

ul{
  float: right;
}

div{
  background-color: pink
  border-style: solid;
  padding: 10px;
 

}