p{
  color: red;
}

#ahmad{
  color: yellow
}

.colorgrey{
  color: grey
}

li{
  display: inline-block;
}

span{
  display: block
}

a{
  text-decoration: none 
}

header{
  height: 90px;
}

h1{
  float: left;
}

ul{
  float: right;
}